{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}
{% block content %}
<h1>{{ section.title }}</h1>
{% if paginator %}
  {{ macros::post_list(pages=paginator.pages) }}
  {% if paginator.number_pagers > 1 %}
  <div class="pager">
    {% if paginator.previous %}<a href="{{ paginator.previous }}">←</a>{% else %}<span class="off">←</span>{% endif %}
    {% for p in range(start=1, end=paginator.number_pagers + 1) %}
      {% if p == paginator.current_index %}<strong>{{ p }}</strong>{% else %}<a href="{% if p == 1 %}{{ paginator.first }}{% else %}{{ paginator.first }}page/{{ p }}/{% endif %}">{{ p }}</a>{% endif %}
    {% endfor %}
    {% if paginator.next %}<a href="{{ paginator.next }}">→</a>{% else %}<span class="off">→</span>{% endif %}
  </div>
  {% endif %}
{% else %}
  {{ macros::post_list(pages=section.pages) }}
{% endif %}
{% endblock content %}
